/*
 * SPDX-FileCopyrightText: 2026 Uwe Kleine-König <uwe@kleine-koenig.org>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
